body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(38, 38, 38);
}

#chinese-word {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: xxx-large;
    font-weight: normal;
    text-align: center;
    color: white;
    padding-top: 6mm;
    margin-bottom: 6mm;
    width: 100%;
    overflow: hidden;
}

#test-panel {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
    font-size: medium;
    font-weight: normal;
    padding: 8mm;
    text-align: left;
    padding-top: 6mm;
    width: 100%;
    overflow: hidden;
}

#meaning-column {
    float: left;
    width: 40%;
}

#pinyin-column {
    float: left;
    width: 40%;
}

#listen-column {
    float: left;
    width: 20%;
}

.header {
    color: rgb(115, 185, 0);
    font-size: large;
}

.value {
    color: white;
    width: 95%;
    background-color: rgb(38, 38, 38);
    border: 1px solid rgb(99, 99, 99);
    border-radius: 4px;
    box-sizing: border-box;
}

.speaker {
    width: 15mm;
    height: auto;
    opacity: 0.25;
    transition: 0.5s ease;
}

.speaker:hover {
    opacity: 1.0;
}

#action {
    position: absolute;
    left: 40%;
    width: 40mm;
    height: 15mm;
    color: white;
    font-size: large;
    background-color: rgb(38, 38, 38);
    border: 1px solid white;
    border-radius: 4px;
    transition: 0.5s ease;
}

#action:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.answer {
    opacity: 0.0;
    width: 95%;
    margin-top: 6mm;
    color: white;
    background-color: rgb(38, 38, 38);
    transition: 0.125s ease;
}

#pinyin-answer {
    font-size: x-large;
}

#meaning-answer {
    font-size: small;
}

#pinyin-panel {
    opacity: 0.25;
    transition: 0.125s ease;
}

.plate-common {
    float: right;
    width: 15mm;
}

.plate-text {
    height: 15mm;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border: 1px solid white;
}

.plate-help {
    color: white;
    height: 5mm;
    font-size: x-small;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
}

.full-line {
    width: 100%;
    height: 16mm;
}

#pinyin-high-tone {
    color: rgb(202, 102, 102);
    background-color: rgb(36, 18, 18);
}

#pinyin-rising-tone {
    color: rgb(97, 199, 121);
    background-color: rgb(19, 39, 24);
}

#pinyin-low-tone {
    color: rgb(109, 125, 219);
    background-color: rgb(19, 22, 37);
}

#pinyin-falling-tone {
    color: rgb(201, 111, 219);
    background-color: rgb(33, 18, 36);
}

#pinyin-ü-vowel {
    color: white;
}
